@page "/counter"
@using Diginsight.Diagnostics
@using System.Diagnostics
@inject ILogger<Counter> logger

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        using var activity = Observability.ActivitySource.StartMethodActivity(logger);

        var process = Process.GetCurrentProcess();
        logger.LogDebug("process: {ProcessId}, {ProcessName}", process.Id, process.ProcessName);

        currentCount++;
    }
}
