@page "/counter"
@using System.Diagnostics
@using Diginsight.Diagnostics

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        using var activity = Observability.ActivitySource.StartMethodActivity();
        using var activity1 = Observability.ActivitySource.StartActivity("IncrementCount");
        
        currentCount++;
        // var processName = Process.GetCurrentProcess().ProcessName;
        // Console.WriteLine($"Process Name: {processName}");
    }
}
